<h2>Listing events</h2>

<table>
  <thead>
    <tr>
	  <th>Id</th>
      <th>Date</th>
      <th>Place</th>
      <th>Created by</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	    <td><%= link_to event.id, event %></td>
        <td><%= event.date %></td>
        <td><%= event.place %></td>
        <td><%= link_to event.created_by, event.created_by %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<br>

<%= link_to 'New Event', new_event_path %>
<% end %>